html
    head
        title="Strona po zalogowaniu"
        style 
            include ./style.css
    body
        div.container
            h1 Cześć #{first_name} #{last_name}
            p Jesteś zalogowany na koncie Google